<h1>Welcome to BloggingPlatform, <%= @user.email.split('@').first %></h1>
<p>
  You have successfully signed up to BloggingPlatform </br>
  <p>your username is: <%= @user.email.split('@').first %></p>
  <p>your email is: <%= @user.email%></p>
</p>
<p>Thanks for joining and have a great day!</p>
