<div class="container mt-5">
<% if user_signed_in? %>
  <h1 class="text-center rows: 2">
     <%= link_to 'All posts', posts_path, class: "btn btn-primary w-50" %>
  </h1>
<% end %>
  <h1 class="text-center mt-4">Blogging Platform!</h1>
  <div class="text-center mt-4">
    <% if user_signed_in? %>
      <div class="alert alert-info">
        Welcome <%= current_user.email %>
      </div>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-danger mt-3' %>
    <% else %>
        <%= button_to "Sign in", new_user_session_path, class: 'btn btn-primary mt-3' %>
    <% end %>
  </div>
</div>
