<!-- app/views/categories/index.html.erb -->
<div class="container mt-4">

  <!-- Link to the new category page -->
  <%= link_to 'Create a New Category', new_category_path, class: 'btn btn-success mb-3' %>

  <div class="row">
    <% @categories.each do |category| %>
      <div class="col">
        <%= link_to category.name, category_path(category), class: "btn btn-outline-primary w-100 h-500" %>
      </div>
    <% end %>
  </div>
</div>

